<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- defining CashPayment bean -->
    <bean id="nestedBean" class="NestedBean" />

    <!-- Defining PayServiceImpl bean and injecting payment bean -->
    <bean id="someBean" class="Bean">
        <constructor-arg ref="nestedBean"/>
        <constructor-arg value="Some Name"/>
    </bean>
</beans>